*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    display: flex;
    flex-direction: column;
}

/* SECTION 1 */
.header{
    height: 50px;
    width: auto;
    background-color: rgb(186, 190, 189);
    display: flex;
    justify-content: space-between;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
    padding: 0 20px;

    overflow:hidden;
  

}

.header-right-links{
    display: flex;
    gap:35px;
    align-items: center;
    font-size: 25px;
   


}

.header-left-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    gap:35px;

}


.main{

    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 217, 39);
    font-size: large;
    gap: 20px;
    flex-wrap: wrap;
    /*added this */
    flex: 1;
    
    box-shadow: 20px 20px 30px rgba(0,0, 0, 0.8) inset;
}

.main .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    gap: 25px;
    /*added this 1 */
    flex:1 1 190px;

    max-width: 200;
   
    color:rgb(199, 149, 22);
    
    
    border-radius: 15px;
    
}


#ri-video{
    border-radius: 25px;
    box-shadow: 5px 10px 15px 3px rgba(0,0, 0, 0.8);
    min-width: 0px;
}


/*section 2 */

.main2{
    padding:40px 0px;
    background-color: aquamarine;
    font-size: large;
    box-shadow: 20px 20px 30px rgba(0,0, 0, 0.8) ;
}

.imgall{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex:1;
    padding-top: 70px;
    padding-bottom: 70px;
}

.img1 img{
    max-width: 250px;
    border-radius: 30px;
    box-shadow: 15px 10px 20px rgba(0,0, 0, 1.5);
}

.img1 div{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 900;
    padding-top: 30px;
    color: rgb(32, 31, 31);
}





.main3{
    padding-top:60px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;

    background-color: rgb(31, 87, 109);
    font-size: large;
    padding-bottom: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    box-shadow: 20px 20px 30px rgba(0,0, 0, 0.8) inset;
}

.quote{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    margin-left: 10px;
    padding: 20px;

    max-width: 900px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 8px 8px 8px 15px rgba(0, 0, 0, 0.8);
    gap: 15px;

    color: rgb(255, 255, 255);
    
}

.quote-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*SECTION 3 */

.upper-footer{
    background-color: rgb(61, 61, 61) ;
    height: auto;
    display: flex;
    justify-content: center;
 
    

}

.box{
    margin: 50px;
    display: flex;
    flex-basis:950px;
  
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.8);
}

.sentence{
    padding: 20px;
    font-size: 25px;
    color: white;
}

.right-half{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: rgb(25, 25, 224);
    border: 2px solid white;
    border-color: rgb(253, 253, 255);
    padding: 15px 40px;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 8px rgba(0,0, 0, 0.8);
}

.footer{
    height: 70px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;

}